<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
        <div id="messageContent" class="alert alert-<%= type %> text-center">
            <% messages[type].forEach(function (message) { %>
                <%= message %>
            <% }) %>
        </div>
    <% }) %>
</div>