<div class="modal fade" id="qrCodeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delivery QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deliveryCode" hidden>000000</div>
                <div class="col d-flex justify-content-center mb-3">
                    <div id="qrcode"></div>
                </div>
                You will need this QR code <b>twice</b>: once when you drop-off your package, and again when you pick up.
                If someone else is picking up the package, <b>be sure to share this QR code with them</b>.<br><br>

                <b>The robot's door will not open without this QR code!</b> This is a security measure to prevent stolen packages.<br><br>

                The QR code will be remain available for viewing at the 'Scheduled Deliveries' page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/qrcode/qrcode.min.js"></script>
<script>
  // load a new qr code each time we show the modal
  $(document).ready(function () {
      $('#qrCodeModal').on('show.bs.modal', function (e) {
        setTimeout(() => {
          $('#qrcode').html('');
          new QRCode($("#qrcode")[0], $('#deliveryCode')[0].innerHTML);
        }, 100);
      });
  });

</script>