<%- include('components/head') %>

<body class="green-background">
<div class="container mt-5 text-center">
    <h1>404</h1>
    <h4>Page Not Found</h4>
    <a href="/user/home">Return Home</a> <br>
    <img src="/images/404_box.png" class="mt-5" width="300px" alt="AEV searching">
</div>
</body>
