<%- include('components/head') %>

<body class="green-background">
<div class="container mt-5 text-center">
    <h1>500</h1>
    <h4>Internal Server Error</h4>
    <p><%= errors %></p>
    <a href="/user/home">Return Home</a> <br>
    <img src="/images/500_box.png" class="mt-5 ms-4" width="300px" alt="AEV sad and broken">
</div>
</body>
