<%- include('components/head') %>
<%- include('components/navbar') %>
<head>
    <link rel="stylesheet" href="/scripts/appt-picker/appointment-picker.css">
    <link rel="stylesheet" href="/scripts/js-cal/source/jsCalendar.css">
    <script src="/scripts/js-cal/source/jsCalendar.js"></script>
    <script src="/scripts/js-cal/extensions/jsCalendar.datepicker.js"></script>
    <script src="/scripts/appt-picker/appointment-picker.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <h1 class="my-4">Schedule Delivery</h1>
        <form method="post" action="/delivery/schedule">
            <div class="row">
                <h5 class="mb-2">Date/Time<br></h5>
                <div class="col">
                    <label for="deliveryDate">Date</label>
                    <input
                            type="text"
                            id="deliveryDate"
                            name="deliveryDate"
                            style="width: 100%;"
                            placeholder="Select a date"
                            data-datepicker
                            required
                    />
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="deliveryTime">Time</label>
                        <input
                                type="text"
                                id="deliveryTime"
                                name="deliveryTime"
                                style="width: 100%;"
                                placeholder="Select a time"
                                aria-live="assertive"
                                aria-label="Use up or down arrow keys to change time"
                                required
                        />
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <h5 class="mb-0">Locations<br></h5>
                <a href="#">See map</a>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="deliveryPickup">Pickup</label>
                            <select class="form-control" id="deliveryPickup" name="deliveryPickup">
                                <option>Campus Center</option>
                                <option>Queen Liliʻuokalani Center</option>
                                <option>Hamilton Library</option>
                                <option>Sinclair Library</option>
                                <option>POST Engineering Building</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="deliveryDestination">Destination</label>
                            <select class="form-control" id="deliveryDestination" name="deliveryDestination">
                                <option>Campus Center</option>
                                <option>Queen Liliʻuokalani Center</option>
                                <option>Hamilton Library</option>
                                <option>Sinclair Library</option>
                                <option>POST Engineering Building</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group my-4">
                <label for="exampleFormControlInput1"><h5>Delivery Notes</h5></label>
                <input type="text" class="form-control" id="deliveryNotes" name="deliveryNotes"  placeholder="Notes">
            </div>
            <input type="submit" value="Schedule">
        </form>
    </div>

</body>

<script type="text/javascript">
  let picker = new AppointmentPicker(document.getElementById('deliveryTime'), {
    interval: 60,
    mode: '12h',
    minTime: 9,
    maxTime: 18,
    startTime: 9,
    endTime: 18,
    disabled: ['1:30 pm', '2:00 pm', '7:30 pm']
  });
</script>

