<%- include('head') %>
<%- include('navbar') %>

<body>
    <div class="container">
        <h1>Home</h1>
        <img src=<%- imgUrl %> />
        <a href="#">Request a New Delivery</a>
        <a href="#">View Scheduled Deliveries</a>
        <a href="#">View Delivery History</a>
    </div>
</body>
