<!doctype html>
<html lang="en">
<head>
    <title>UH AEVS Delivery Service | Home</title>
    <meta name="description" content="University of Hawaii's Autonomous Electric Vehicle System">
    <meta name="keywords" content="university hawaii autonomous electric vehicle system delivery">
</head>
<body>
    <h1>Home</h1>
    <a href="#">Request a New Delivery</a>
    <a href="#">View Scheduled Deliveries</a>
    <a href="#">View Delivery History</a>
</body>
</html>