<%- include('head') %>
<%- include('navbar') %>

<body>
    <div class="container">
        <h1 class="mt-3">Home</h1>
        <a href="/delivery/schedule">Schedule a New Delivery</a><br>
        <a href="#">View Scheduled Deliveries</a><br>
        <a href="#">View Delivery History</a>
    </div>
</body>
