<%- include('components/head') %>
<%- include('components/navbar') %>
<%- messages('components/messages', locals) %>

<body>
    <div class="container">
        <h1 class="mt-3">Home</h1>
        Delivery Status: Delivery in-progress (ETA 4:00 PM)<br>
        <a href="/delivery/new">Schedule a New Delivery</a><br>
        <a href="/delivery/scheduled">View Scheduled Deliveries</a><br>
        <a href="/delivery/history">View Delivery History</a>
    </div>
</body>
