<!doctype html>
<html lang="en">
<head>
    <title>UH AEVS Delivery Service | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="University of Hawaii's Autonomous Electric Vehicle System">
    <meta name="keywords" content="university hawaii uh autonomous electric vehicle system aevs delivery">
</head>
<body>
    <h1>Welcome to UH AEVS</h1>
</body>
</html>
