<%- include('components/head') %>
<%- messages('components/messages', locals) %>
<style>
  body {
    color: #fcf2e6;
    background-color: #151515;
  }

  #mainContainer {
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 3rem;
    font-weight: 620;
  }

  #googleButton {
    --bs-btn-bg: #222;
    --bs-btn-color: #fcf2e6;
    --bs-btn-hover-bg: #282828;
    --bs-btn-hover-color: #fcf2e6;
    --bs-btn-active-color: #333333;
    border-radius: 1px;
    border-color: #222;
  }

  @media screen and (max-width: 450px) {
    #aevsLogo {
      width: 40%;
      margin-bottom: 40px;
    }

    h1 {
      font-size: 1.8rem;
      font-weight: 620;
    }

    #googleButtonRow {
      width: 80% !important;
    }

    #googleIconCol {
      padding-left: 8px !important;
    }

    #googleIcon {
      width: 28px !important;
    }
  }
</style>
<body style="height: 100%;">
<div id="mainContainer" class="container m-auto mt-5">
    <div class="row flex-lg-row-reverse">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 pe-4 d-flex justify-content-center" style="pointer-events: none">
            <img id="aevsLogo" src="/images/waevs.png" width="250px" alt="WAEVS logo">
        </div>
        <div class="col-lg-6 m-auto pt-4">
            <div class="row">
                <div class="col d-flex justify-content-center text-center">
                    <h1 class="ms-2">Warrior Autonomous Electric Vehicle System</h1>
                </div>
            </div>
            <div id="googleButtonRow" class="row m-auto" style="width: 60%">
                <a href="/user/login" type="button" class="btn btn-light mt-3 shadow p-3 py-md-2" id="googleButton">
                    <div class="row">
                        <div class="col-1" id="googleIconCol">
                            <img id="googleIcon" src="/images/logo-google.png" alt="Google logo" width="35px" class="my-auto">
                        </div>
                        <div class="col m-auto pe-4 me-2">Sign in with Google</div>
                    </div>
                </a>
                <p class="small m-auto mt-3 text-center" style="color: #e5e5e5;">Valid UH email required</p>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<%- include('components/footer') %>
</body>
