<%- include('head') %>
<%- messages('messages', locals) %>
<body>
    <div class="container text-center mt-4">
        <img src="/images/logo c.png" width="400px">
        <h1>Welcome to AEVS UHM</h1>
        <a href="/user/login">Log in with Google</a>
        <p><i>Valid UH email required</i></p>
    </div>
</body>