.dropdown-toggle::after {
  display: none;
}

.green-background {
  color: white;
  background-color: #335c26;
  --bs-link-color: #c6c7bf;
  --bs-link-hover-color: #e9eae1;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem !important;
    line-height: 95%;
    margin-top: 10px;
  }
  a {
    font-size: 0.8rem !important;
  }
  .small {
    font-size: 0.7rem !important
  }
}